<div class="container">
    <h3>About</h3>
    <div class="container">
        <p>
            I'm a self taught tech enthusiast and a programmer who cut his teeth
            on QBASIC for Windows 95 and stuck around computers ever since.
            Began to rapidly learn different technologies during my teen years,
            spawning lots of pet projects that gave me a good idea of how to
            build stuff.
        </p>
    </div>
</div>
