<script>
    export let title;
    export let content;
</script>

<div class="card">
    <p class="title">{title}</p>
    <p class="content">{content}</p>
</div>

<style>
    .card {
        padding: 1rem;
        margin: 1rem;
        border: 1px solid var(--highlight-color);
        max-width: 30vh;
    }

    .title {
        color: var(--highlight-color);
        font-weight: 100;
        font-size: 2em;
    }

    .content {
        text-align: justify;
    }
</style>