<script>
    import Card from "./Card.svelte";
</script>

<div class="container">
    <h3>Things I did so far</h3>
    <div class="done-container">
        <Card
            title="Web development"
            content="I'm very familiar with the JavaScript ecosystem. I did quite a bunch of pet projects that used node.js under the hull. While my frontend skills are somewhat limited, I'm fairly good at backend related stuff."
        />

        <Card
            title="IoT"
            content="I designed an IoT backed for interactive homes using TypeScript. The backed has a modular design so it's easy to implement different protocols. The backend runs on a custom framework designed from the ground up by me."
        />

        <Card
            title="GitLFS"
            content="GitLFS is a tool that crawls your project for files larger than x and then adds them to GitLFS. GitLFS by default tracks files larger than 10MB or the ones that are manually added, this tool allows you to choose which filesize to track."
        />

        <Card
            title="Game development"
            content="I am fairly capable in Unity and Godot. I've done some projects in Haxe too using Heaps. Some of them are open source and available in my repos."
        />

        <Card
            title="Command line utilities"
            content="I worked on bunch of command line utilities. Mainly rewriting some core utils as an exercise for using Rust. (rdu aka Rusty Disk Usage is available at crates.io)"
        />

        <Card
            title="Libraries"
            content="I wrote libraries for Rust. Some of them are: vector3, a library for handleing three dimensional mathematical vectors and their operations, and gentrix, a library for creating two dimensional matrices of a generic-based type."
        />

        <Card
            title="Productivity related automation"
            content="I designed a soltuion for automatically sorting assets created by enterprise programs to follow a project specific scheme, saving tons of time to the artists who could now do their job instead of doing the job of the janitor."
        />

        <Card
            title="Arduino"
            content="I worked with Arduino quite a bit through my school years. I made a remote controlled car, an ultrasonic meter and bunch of other small projects."
        />

        <Card
            title="Web3"
            content="While not being my strong side, I'm familiar with Web3 to a certain degree too. I made some small dapps with solidity and got my hands dirty with some web3 paradigms such us upgradability and contracts with mutable state."
        />
    </div>
</div>

<style>
    .done-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
