<div class="container">
    <h3>Languages</h3>
    <p>These are some languages I worked with:</p>
    <div class="container">
        <p>Rust - Command line tools</p>
        <p>TypeScript/Javascript - Backend and frontend web and IoT development</p>
        <p>Python - Productivity related automation</p>
        <p>Java/C# - Game development and modding</p>
        <p>Haxe - Command line tools and game development</p>
    </div>
</div>
