<script lang="ts">
    const GITLAB_URL = "https://gitlab.com/DigitalCyan";
    const GITHUB_URL = "https://github.com/DigitalCyan";

    const redirect = (url: string) => {
        location.assign(url);
    };
</script>

<div class="container">
    <h3>Links</h3>
    <div class="links">
        <button class="link" on:click={redirect.bind(this, GITLAB_URL)}
            >GitLab</button
        >

        <button class="link" on:click={redirect.bind(this, GITHUB_URL)}
            >GitHub</button
        >

        <button
            class="link"
            on:click={redirect.bind(this, "https://t.me/DigitalCyan")}
            >Telegram</button
        >

        <button
            class="link"
            on:click={redirect.bind(
                this,
                "https://crates.io/users/DigitalCyan"
            )}>crates.io</button
        >
    </div>
</div>

<style>
    .links {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    button {
        transition: 0.25s;
        text-decoration: none;
        color: var(--highlight-color);
        border: 1px solid var(--highlight-color);
        padding: 1em;
        border-radius: 10px;
        margin: 1em;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        min-width: 3cm;
    }

    button:hover {
        transition: 0.25s;
        color: #333;
        background-color: var(--highlight-color);
    }

    button:focus {
        outline: none;
    }
</style>
