<img src="/assets/pfp.jpg" alt="Avatar" />

<style>
    @keyframes unblur {
        0% {
            filter: blur(10px);
        }

        100% {
            filter: blur(0px);
        }
    }

    img {
        width: 20%;
        height: 20%;
        border: 1px solid var(--highlight-color);
        border-radius: 50%;
        animation: 1s ease-in-out 0s 1 unblur;
    }
</style>
