<h1>DigitalCyan</h1>

<style>
    h1 {
        animation: 1s none 0s 1 intro;
        overflow: none;
        margin: 0;
        padding: 0 0 1em 0;
        font-size: 3rem;
    }

    @keyframes intro {
        0% {
            transform: scale(200);
        }

        100% {
            transform: scale(1);
        }
    }
</style>
