:root {
	--highlight-color: #ff3e00;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #1A1A1A;
	overflow-x: hidden;
}

body {
	color: #AAA;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h5 {
	color: var(--highlight-color);
	text-transform: uppercase;
	font-weight: 100;
	font-size: 2em;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0;
	width: 80%;
}

.noscript {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #1A1A1A;
}

::-webkit-scrollbar-thumb {
	background: #ff3e00;
}