<script>
	import Title from "./lib/Title.svelte";
	import ProfilePic from "./lib/ProfilePic.svelte";
	import About from "./lib/About.svelte";
	import Done from "./lib/Done.svelte";
	import Languages from "./lib/Languages.svelte";
	import Links from "./lib/Links.svelte";
</script>

<main>
	<Title />
	<ProfilePic />

	<About />

	<Done />

	<Languages />

	<Links />
</main>

<style lang="scss">
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1em;
		overflow: hidden;
	}

	:global(h3) {
		color: var(--highlight-color);
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 100;
	}

	:global(div) {
		padding: 0;
		margin: 0;
	}
</style>
